/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.ui.all
 *= require bootstrap
 *= require bootstrap-theme
 */

* {
    margin: 0;
}
html, body {
    height: 100%;
}

.container-header {
  padding-right: 20px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -63px; /* the bottom margin is the negative value of the footer's height */
}
.footer {
  color: #666;
  background: #222;
  padding: 17px 0 18px 0;
  border-top: 1px solid #000;
  } 
.footer a{
  color: #999;
}
.footer a:hover {
  color: #efefef;
}
.push {
    height: 63px; /* .push must be the same height as .footer */
}
