%ol.breadcrumb
  %li
    =link_to "Home", root_path
  %li.active
    Contact

My name is Preston Bernstein. I designed this site. If you like it and want to hire me, here's how to get in touch with me.

Contact me at:
Phone: (843)469-9608
Email: prestonbernstein@gmail.com
Website: www.prestonbernstein.com

Thank you!