.title
  %h1 Patient List

= link_to "New Patient", new_hospital_patient_path(:hospital_id)

%h4 Click on Patient Name To View Detailed Report

.list
  %table.table-hover
    %tr
      %th Patient
      %th Check-in
      %th Edit
      %th Delete
      %th Action
