<h5><% @driving.each do |guy| %>
	<tr>
		<td>
	You met 
	<%= guy[:name] %>
	while driving down the streets of
	<%= guy[:city] %>
	, 
	<%= guy[:state] %>
	.
	<br>
	</td>
		<td>
			<img src="<%= guy[:avatar] %>" alt="">
	</tr>
	<br>
<% end %></h5>