<h5><% @driving.each do |guy| %>
	<div class= "middle-row">
	You met 
	<%= guy[:name] %>
	while driving down the streets of
	<%= guy[:city] %>
	, 
	<%= guy[:state] %>
	.
	<br>
</div>
		<div class="middle-row-image-bg">
			</div>
			<div class="middle-row-image">
			<img src="<%= guy[:avatar] %>" alt="">
		</div>
		<br>
<% end %></h5>