<a href="/driving" class="meet-btn">Meet Someone New</a>
<div class="middle-row-text-bg">
</div>
<div class="middle-row-text">
<h3><% @driving.each do |guy| %>
	You met 
	<%= guy[:name] %>
	while driving down the streets of
	<%= guy[:city] %>
	, 
	<%= guy[:state] %>
	.</h3>
</div>
		<div class="middle-row-image-bg">
			</div>
			<div class="middle-row-image">
			<img src="<%= guy[:avatar] %>" alt="">
		</div>
<% end %>