<a href="/supermarket_guy" class="meet-btn">Meet Someone New</a>
<div class="middle-row-text-bg">
</div>
<div class="middle-row-text">
<h3><% @supermarket_guy.each do |guy| %>
	<%= guy[:name] %>
	is wandering the aisles of the supermarket in 
	<%= guy[:city] %>
	, 
	<%= guy[:state] %>
    .</h3>
</div>
		<div class="middle-row-image-bg">
			</div>
			<div class="middle-row-image">
			<img src="<%= guy[:avatar] %>" alt="">
		</div>
<% end %>