.well.sidebar-nav
  %ul.nav.nav-list
    %li.nav-header Schools Available

    %li
      %a.btn.btn-info.btn-default{href: '/./locations/'}
        %i.icon-white.icon-th-large
          All Locations

    - @locations.each do |location|
      %li
        %a.btn.btn-info.btn-default{href: "/../locations/#{location.id}"}
          %i.icon-white.icon-th-large
            #{location.city}
    - if can? :create, Location
      %li
        %a.btn.btn-info.btn-default{href: "/../locations/new"}
          %i.icon-white.icon-th-large
            Create New location

    %hr

    %li.nav-header Courses Available

    %li
      %a.btn.btn-info.btn-default{href: "./"}
        %i.icon-white.icon-th-large
          All Courses

    - @location.courses.each do |course|
      %li
        %a.btn.btn-info.btn-default{href: "./../courses/#{course.id}"}
          %i.icon-white.icon-th-large
            #{course.name}
    - if can? :create, Course
      %li
        %a.btn.btn-info.btn-default{href: "./new"}
          %i.icon-white.icon-th-large
            Create New Course