%form.navbar-form{role: "search"}
  .form-group
    %input.form-control{placeholder: "dogs, Friendly Kennel", type: "text"}/
    %input.form-control{placeholder: "Charleston, SC", type: "text"}/
  %button.btn.btn-default{type: "submit"}
    %span.glyphicon.glyphicon-search