<a href="/driving" class="meet-btn">Meet Someone New</a>
<div class="info-bg">
</div>
<div class="info">
	<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h3>
</div>	
<div class="middle-row-text-bg">
</div>
<div class="middle-row-text">
<h3><% @driving.each do |guy| %>
	You met 
	<%= guy[:name] %>
	while driving down the streets of
	<%= guy[:city] %>
	, 
	<%= guy[:state] %>
	.</h3>
</div>
		<div class="middle-row-image-bg">
			</div>
			<div class="middle-row-image">
			<img src="<%= guy[:avatar] %>" alt="">
		</div>
<% end %>