<!DOCTYPE html>
<html lang"en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

  <title>Preston Bernstein | Blog</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="http://www.prestonbernstein.com">Home</a>
          <a class="blog-nav-item" href="http://prestonbernstein.com/#about">About</a>
          <a class="blog-nav-item" href="http://prestonbernstein.com/#contact">Contact</a>
          <a class="blog-nav-item" href="http://blog.prestonbernstein.com">Blog</a>
        </nav>
      </div>
    </div>
        <br><br><br>
     
<%= yield %>

  </body>
</html>
