%ul#myTab.nav.nav-tabs
  - @locations.each do |location|
    %li
      %a{href: "##{location.id}"} #{location.city}

#content.tab-content
  - @locations.each do |location|
    .tab-pane{id: location.id}
      %div.accordion

        %h3
          %a{href:'#'}Location Controls
        %div
          =link_to "School Info", location_path(location)
          |
          =link_to "Edit", edit_location_path(location)
          |
          =link_to "Delete", location_path(location), method: :delete

        %h3
          %a{href:'#'}Address
        %div
          =location.street
          %br
          =location.city
          ,
          =location.state
          %br
          =location.zipCode
          / =link_to "New Course", new_location_course_path(@location)
          / =link_to "Class List", location_courses_path(@location)
/ = render 'admin_location_course_tabs'



/ = link_to "Edit", edit_location_course_path(@location, @course)