%ul#myTab.nav.nav-tabs
  - @courses.each do |course|
    %li
      %a{href: "##{course.id}"} #{course.name}

#content.tab-content
  - @courses.each do |course|
    .tab-pane{id: course.id}
      %strong The Iron Yard
    
      %br
      = link_to "Edit", edit_location_course_path(@location, course)
      |
      = link_to "Delete", location_course_path(@location, course), method: :delete
      %br