/ = render 'navbar'
.container
  %h1 Iron Yard Locations

  .btn-group.btn-group-justified
    %button.btn.btn-default{type: "button"} Left
    %button.btn.btn-default{type: "button"} Middle
    %button.btn.btn-default{type: "button"} Right

  / = render 'location_tabs_index'