%div
  .jumbotron
    %h1
    %p.lead
      This is a forum with a lot of cool things in it. Join us!
  %p
    = link_to "Enter the Forums", forums_path, class: "btn btn-lg btn-success", role: "button"
  .row.marketing