.container-narrow
  = render 'assignments/navbar'
  %hr
  .row-fluid
    .span3
      = render 'sidebar'
    .span9
      .jumbotron
        %h1 Add an Assignment to the #{@course.name} Class
        = render 'form'