// Place all the styles related to the patients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form{
  width: 100%;
  height: 100%;
  background-color: #F0FFFF;
  text-align: center;
}

input, label {
  display: inline-block;
}

a{
  color: #005C66;
  text-decoration: none;
}

a:hover {
  color: #00A0B2;
}

text {
  color: #34EAFF;
}
