%header.navbar.navbar-bright.navbar-fixed-top{:role => "banner"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

    %nav.collapse.navbar-collapse{:role => "navigation"}
      %ul.nav.navbar-nav
        %li
          %a{:href => "/"} Home
        %li
          %a{:href => "#"} About Me
        %li
          %a{:href => "#"} Write a Review
        %li
          %a{:href => "#"} Find Friends
        %li
          %a{:href => "#"} Messages
        %li
          %a{:href => "#"} Talk
        %li
          %a{:href => "#"} Events
      %ul.nav.navbar-right.navbar-nav
        %li.pull-right
          #user_nav
            - if user_signed_in?
              = link_to('Sign Out', destroy_user_session_path, :method => :delete)
            - else
              = link_to('Sign In', new_user_session_path)