= form_for [@forum, @topic, @post] do |f|
  = f.text_area :content, autocomplete: "off", required: true, class: "form-control", placeholder: "Write your post here..."
  = f.submit "Create", class: "btn btn-g btn-primary btn-block"