= form_for @forum do |f|
  = f.text_field :name, autocomplete: "off", required: true, class: "form-control", placeholder: "Forum Name"
  = f.text_area :description, autocomplete: "off", required: true, class: "form-control", placeholder: "Forum Description..."
  = f.submit "Create", class: "btn btn-g btn-primary btn-block"