%ol.breadcrumb
  %li
    =link_to "Home", root_path
  %li
    =link_to "Your Profile", user_path(current_user)
  %li
    =link_to "Account Settings", account_settings_user_path(current_user)
  %li.active
    Password
.col-md-3
.col-md-6
  .well.span9
    %fieldset
      %legend Change Password
      = form_for @user do |f|
        
        .form-group
          =f.label :new_password
          .left-inner-addon
            %i.glyphicon.glyphicon-asterisk
            =f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "(leave blank if you don't want to change it)"
          .left-inner-addon
            %i.glyphicon.glyphicon-asterisk
            =f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Password Confirmation"

        .form-group
          =f.label :current_password
          .left-inner-addon
            %i.glyphicon.glyphicon-asterisk
            =f.password_field :current_password, autcomplete: "off", class: "form-control", placeholder: "(leave blank if you don't want to change it)"

        .form-group
          =f.submit "Update", class: "btn btn-success"
          =link_to "Cancel", account_settings_user_path(current_user), class: "btn btn-default"
.col-md-3