%ol.breadcrumb
  %li
    =link_to "Home", root_path
  %li
    =link_to "Your Profile", user_path(current_user)
  %li
    =link_to "Account Settings", account_settings_user_path(current_user)
  %li.active
    Password
.col-md-3
.col-md-3
  = form_for @user do |f|
  .form-group
    =f.label :password
    %i (leave blank if you don't want to change it)
    %br/
    =f.password_field :password, autocomplete: "off"
.col-md-3