.jumbotron
  %h1 Rate My Doctor
  %p.lead
    Rate Your Doctors 'cuz it's cool
- @locations.each do |location|
  = render 'locations/locations', location: location

- @doctors.each do |doctor|
  = render 'doctors/doctors', doctor: doctor