
= form_for [@forum, @topic] do |f|
  - if params[:forum]
    %input#topic_forum_id{name: "topic[forum_id]", type: "hidden", value: params[:forum]}/
  = f.text_field :name, autocomplete: "off", required: true, class: "form-control", placeholder: "Topic Title"
  = f.fields_for :posts do |post|
    = post.text_area :content, autocomplete: "off", required: true, class: "form-control", placeholder: "Write the first post here..."
  =f.submit "Create", class: "btn btn-lg btn-primary btn-block"