%ul#myTab.nav.nav-tabs
  %li.active
    %a{href: "#home"} Home
  %li
    %a{href: "#profile"} Profile
  %li
    %a{href: "#messages"} Messages
#content.tab-content
  #home.tab-pane.active
    %ul
      %li home
      %li home
      %li home
      %li home
      %li home
      %li home
      %li home
  #profile.tab-pane
    %ul
      %li profile
      %li profile
      %li profile
      %li profile
      %li profile
      %li profile
      %li profile
  #messages.tab-pane
  #settings.tab-pane 