<div class="blog-post">
  <h2 class="blog-post-title">
  </h2>
  <p class="blog-post-meta">THIS IS WHERE THE META DATA GOES by <a href="#">Preston</a></p>

  <p>This is where the blog post text goes </p>
</div>