html {
  background-color: #34EAFF;
  margin: 0 auto;
}

th, td {
  width: auto;
}

.title {
  width: 100%;
  text-shadow: 1px 0px 2px rgba(152, 150, 150, 1);
  text-align: center;
  padding-bottom: 45px;
  margin: 0 auto;
  color: black;
  font-size: 50px;
}

.box {
  width: 100%;
  background-color: #005C66;
  font-family: Georgia, serif;
  align: center;
  margin: 0 auto;
}

.box-bg {
  background-color: #34EAFF;
  padding: 20px;
}

.content {
  width: 95%;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #005C66;
  border-radius: 100px;
  text-align: center;
}

.align-center {
  width: 100%;
  text-align: center;
  line-height: 25px;
  text-shadow: 1px 0px 2px rgba(152, 150, 150, 1);
}

.navbar {
  background-color: #005C66;
  padding-top: 10px;
  padding-bottom: 10px;
}

.create-new {
  width: 100px;
  border-radius: 25px;
  border-color: #B24C00;
  background-color: #34EAFF;
}