.btn-group.btn-group-sm
  =link_to "  Add Photo", edit_location_path(@location), class: "btn btn-default glyphicon glyphicon-camera"
  =link_to "  Share", locations_path, class: "btn btn-default glyphicon glyphicon-share-alt"
  =link_to "  Bookmark", locations_path, class: "btn btn-default glyphicon glyphicon-bookmark"